<p style="color: green"><%= notice %></p>

<div>
  <h1 class="recipe_name"><%= @recipe.name %></h1>
  <%= link_to "Edit this recipe", edit_recipe_path(@recipe) %> |
  <%= link_to "Back to recipes", recipes_path %>

  <%= button_to "Destroy this recipe", @recipe, method: :delete %>
</div>
