<div>
  <h1 class="recipe_name"><%= @recipe.name %></h1>

  <p class="recipe_time">
    Preparation time: 
      <% if @recipe.preparation_time %>
        <%= @recipe.preparation_time %> <%= @recipe.preparation_time > 1 ? "hours" : "hour" %>
      <% end %>
  </p>
  <p class="recipe_time">
    Cooking time: 
    <% if @recipe.preparation_time %>
      <%= @recipe.cooking_time %> <%= @recipe.cooking_time > 1 ? "hours" : "hour" %>
    <% end %>
  </p>

  <%= form_with model: @recipe, id: "recipe_form", method: :patch do |f| %>
    <div class="form-check form-switch">
      <%= f.check_box :public, class: "form-check-input", id: "flexSwitchCheckChecked" %>
      <%= f.label :public, for: "flexSwitchCheckChecked", class: "form-check-label"  %>
    </div>

    <%= f.submit "Update Recipe", id: "submit_button", style: "display: none;" %>
  <% end %>

  <%= link_to "Back to recipes", recipes_path %>
</div>
