<%= form_with(model: food) do |form| %>
  <% if food.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
        <% food.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <form>
      <div class="row mb-3">
        <%= form.label :name, "Food name", class: "col-sm-2 col-form-label" %>
        <div class="col-sm-10">
          <%= form.text_field :name, class: "form-control" %>
        </div>
      </div>
      <fieldset class="row mb-3">
        <legend class="col-form-label col-sm-2 pt-0">Measurement unit</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <%= form.radio_button :measurement_unit, "grams", class: "form-check-input" %>
            <%= form.label :measurement_unit, "grams", class: "form-check-label" %>
          </div>
          <div class="form-check">
            <%= form.radio_button :measurement_unit, "units", class: "form-check-input" %>
            <%= form.label :measurement_unit, "units", class: "form-check-label" %>
          </div>
        </div>
      </fieldset>
      <div class="row mb-3">
        <%= form.label :price, "Unit price ($)", class: "col-sm-2 col-form-label" %>
        <div class="col-sm-10">
          <%= form.text_field :price, placeholder: "15", class: "form-control" %>
        </div>
      </div>
      <div class="row mb-3">
        <%= form.label :quantity, class: "col-sm-2 col-form-label" %>
        <div class="col-sm-10">
          <%= form.number_field :quantity, placeholder: "5", class: "form-control" %>
        </div>
      </div>
      <%= form.submit class: "btn btn-primary" %>
    </form>
  </div>
<% end %>
