<h1>Foods</h1>

<div id="foods">
  <% @foods.each do |food| %>
    <%= render food %>
    <p>Food: <%= food.name %></p>
    <p>Measurement unit: <%= food.measurement_unit %></p>
    <p>Unit price: $<%= food.price %></p>
    <p>
      <%= link_to "Show this food", food %>
    </p>
    <% if food.user_id == current_user.id %>
      <%= button_to "Destroy this food", food, method: :delete %>
    <% end %>
  <% end %>
</div>

<%= link_to "New food", new_food_path %>
